<div class="row">
    <div class="col-md-12">
      <h4>{{title}}</h4>    
    </div>
  </div>

  <div class="bd-example">
    <table class="table table-striped table-hover text-center">
        <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Barangay</th>
        <th scope="col">Date Requested</th>
        <th scope="col">Pick-up Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Angelo James</td>
        <td>Mantuyong</td>
        <td>01/17/2023</td>
        <td>01/20/2023</td>
        <td>Pending</td>
        <td><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Update</button>/<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Delete</button></td>
      </tr>
      <tr>
        <td>Angelo James</td>
        <td>Mantuyong</td>
        <td>01/17/2023</td>
        <td>01/20/2023</td>
        <td>Pending</td>
        <td>Update/Cancel</td>
      </tr>
      <tr>
        <td>Angelo James</td>
        <td>Mantuyong</td>
        <td>01/17/2023</td>
        <td>01/20/2023</td>
        <td>Pending</td>
        <td>Update/Cancel</td>
      </tr>
    </tbody>
  
    </table>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          ...
        </div>
      </div>
</div>